*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}
/* -------------header section------------------ */
header{
    width: 100%;
    background-color:black;
    position: fixed;
    z-index: 999;
}
.navbar{
    padding: 20px 0;
}
.contact-details{
    min-width: 600px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color:orangered;
}
/* .logo{
    width: 160px;
} */
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white!important;
    font-size: 14px;
}
.detail svg, .loc{
    color: rgb(134, 133, 133);
}
.detail span{
    margin-left: 10px;
    color: white;
}
.nav-link{
    font-weight: bold;
    font-size: 14px;

}
.nav-btn-1{
    color: white;
    width: 150px;
    height: 60px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 12px;
    text-align: center;
    font-weight: bold;
    background-color: orangered;
    line-height: 16px;
    font-size: 14px;
    transition: transform .5s ease-in-out;
    cursor: pointer;
    
}
.nav-btn-1:hover{
    color: whitesmoke;
    transform: scale(1.2);
}

/* -------------Hero Section----------------- */
.hero{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.hero .container{
    background-image: url('https://img.freepik.com/premium-photo/empty-room-interior-with-armchair-decorating-idea-white-wall-background-3d-rendering_41470-4375.jpg?w=2000');
    background-position: center;
    object-fit: cover;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-1{
    color: white;
    padding: 16px 24px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    font-weight: bold;
    background-color: orangered;
    line-height: 16px;
    font-size: 14px;
    transition: transform .5s ease-in-out;
    cursor: pointer;
}
.btn-1:hover{
    color: whitesmoke;
    transform: scale(1.2);
}
.hero-title{
    font-size: 24px;
    color: orangered;
}
.hero-body{
    font-weight: bold;
    font-size: 56px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 12px black;
}
/* ---------------Project Section------------ */
.project{
    width: 100%;
    min-height: 80vh;
    padding: 10px;
    background-color:white;
}
.project .container{
    overflow: hidden;
    background-color: black;
    
}
.project-text{
    padding: 20px 60px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;   
}
.project-title{
    font-weight: bold;
    font-size: 36px;
    color: white;
}
.project-subtitle{
    font-weight: bold;
    color: whitesmoke;
    font-size: 30px;
}
.project-body{
    font-size: 20px;
    color: rgb(104, 103, 103);
}
.project-circle{
    width: 500px;
    height: 200px;
    background-color: orangered;
    border-radius: 50%;
    margin-top: -150px;
    margin-left: -250px;
}
.hr-design{
    display: flex;
}
.hr{
    width: 100px;
    height: 6px;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
    background-color: orangered;
}
.dot{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: orangered;
    margin-left: 10px;
    animation: dot 2s alternate infinite;
}
@keyframes dot {
    from{
        transform: translateX(0) scale(1) rotate(0deg);
    }to{
        transform: translateX(50px) scale(2) rotate(360deg);
    }
}
.button{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.project-img{
    position: relative;
}
.project-img img{
    transition: transform .5s ease-in-out;
    animation-delay: 2s;
    animation-duration: 2s;
}
.project-img .project-num{
    transition: transform .5s ease-in-out;
    animation-delay: 3s;
    animation-duration: 2s;
}
.project-img:hover img{
    transform: translate(-12.5794px,-1.14927px);
    cursor: pointer;
}
/* .project-img .project-num{
    position: absolute;
    right: 80px;
    bottom: 10%;
} */
/* .project-num{
    text-align: center;
    color: white;
}
.project-num h4{
    font-size: 16px;
}
.project-count{
    font-size: 48px;
    font-weight: 700;
} */
/* ------------Services section-------------- */
.service{
    width: 100%;
    background-color: white;
    padding: 0 20px;
}
.service .container{
    overflow: hidden;
}
.form-container{
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services li{
    font-size: 24px;
    font-weight: 500;
    padding: 4px 0;
}
.service-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service-con .btn-1{
    margin-bottom: 28px;
}

/* -------------Form Section---------------- */
.card{
    padding:20px;
    border-radius: 0 24px 0 24px;
    min-width: 350px;
}
.card-header{
    color: orangered;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}
.form-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.form-btn{
    color: white;
    padding: 16px 24px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    font-weight: bold;
    background-color: orangered;
    line-height: 16px;
    font-size: 14px;    
    outline: none;
    border: 0;
}
/* --------------Our Services----------- */
.our-services{
    width: 100%;
    min-height: 80vh;
    background-color: black;
}
.service-bg{
    width: 100%;
    text-align: center;
    padding-top: 40px;
    color: white;
    height: 40vh;
    background-image: url('https://wallup.net/wp-content/uploads/2014/08/interior-design-living-room-748x468.jpg');
    object-fit: cover;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0px 50% 50%;
}
.service-bg h2{
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0px;
    text-shadow: 2px 2px 12px black;
}
.service-bg p{
    font-size: 22px;
    text-shadow: 2px 2px 12px black;
}
.service-bg .project-circle{
        width: 500px;
        height: 200px;
        background-color: orangered;
        border-radius: 50%;
        margin-top: -180px;
        margin-left: -250px;
}
.service-slide{
    width: 100%;
    margin-top: 20px;
}
/* ---------------Testimonials section------------- */
.testimonial{
    min-height: 80vh;
    width: 100%;
    background: linear-gradient(120deg, white 50%, orangered 50%);
}
.testimonial .container{
    overflow: hidden;
}
.card-body{
    height: 280px;
}
.testimony{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding-bottom: 40px;
}

.testimonial-heading{
    text-align: center;
    padding: 20px;
}
.testimonial-heading h4{
    color: orangered;
}
.testimonial-heading h2{
    font-weight: bold;
    font-size: 40px;
}
.testimonial-card{
    width: 50%;
    height: 400px;
    padding: 20px 30px;
    border-radius: 0px 15% 0px 15%;
    box-shadow: 1px 1px 8px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:20px auto;
    background-color: white;
}
.testimony-text p{
    font-size: 18px;
}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.user-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.user-details{
    font-size: 18px;
    font-weight: bold;
}
.user-details span{
    color: orangered;
    font-weight: 400;
}
/* -------------Gallery section.............. */
.gallery{
    background-color: white;
    min-height: 60vh;
    padding: 10px 20px;
}
.gallery .container{
    overflow: hidden;
    background-color: black;
}
.work{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding-bottom: 10px;
}

.work-heading{
    text-align: center;
    padding: 20px;
}
.work-heading h4{
    color: orangered;
}
.work-heading h2{
    font-weight: bold;
    font-size: 40px;
    color: white;
}
/* .work-slider{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
    
} */
.work-img{
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
}
.work-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* -----------Footer Section---------------- */
footer{
    width: 100%;
    min-height: 20vh;
    background-color: rgb(39, 38, 38);
    padding-top: 20px;
}
.footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.footer-add{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.footer-add:hover .f-text{
    color: orangered;
}
.footer-add svg{
    color: orangered;
    margin-bottom: 10px;
}
.f-text{
    line-height: 28px;
    padding: 0px 10px;
    margin-left: 20px;
}
.f-text p{
    font-size: 20px;
}
.social-media{
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    border-radius: 12px 12px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.social-media p{
    color: orangered;
    font-size: 24px;
    padding-top: 20px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.icons i{
    margin-left: 20px;
    font-size: 28px;
    color: orangered;
}
.copyright{
    width: 100%;
    padding:20px;
    text-align: center;
    background-color: black;
}
.copyright p{
    color: white;
    font-size: 20px;
    font-weight: 400;
}
/* -----------Chat Button--------------- */
.chat-btn{
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: orangered;
    right: 5%;
    bottom: 30px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-btn:hover{
    box-shadow: 1px 1px 8px orangered;
}
.chat-btn i{
    color: white;
    font-size: 32px;
}
.btn1-close{
    position: fixed;
    width:80px;
    height: 80px;
    border-radius: 50%;
    background-color: orangered;
    right: 5%;
    bottom: 30px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white!important;
}
.btn1-close i{
    font-size: 32px;
}
.question{
    width: 100%;
    height: 50px;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
}
.question h3{
    color: white;
    font-size: 20px;
    padding-top: 10px;
}
.msg{
    width: 180px;
    /* height: 100px; */
    border-radius: 28px 28px 0px 28px;
    background-color: lightgray;
    font-size: 18px;
}
.chat-form{
    border-bottom: 1px solid orangered;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}